<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="blog.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="blog.entity.Article" >
    <id column="article_id" property="articleId" jdbcType="INTEGER" />
    <result column="article_title" property="articleTitle" jdbcType="VARCHAR" />
    <result column="article_author" property="articleAuthor" jdbcType="INTEGER" />
    <result column="atricle_date" property="atricleDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="blog.entity.Article" extends="BaseResultMap" >
    <result column="article_content" property="articleContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    article_id, article_title, article_author, atricle_date
  </sql>
  <sql id="Blob_Column_List" >
    article_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="blog.entity.Article" >
    insert into article (article_id, article_title, article_author, 
      atricle_date, article_content)
    values (#{articleId,jdbcType=INTEGER}, #{articleTitle,jdbcType=VARCHAR}, #{articleAuthor,jdbcType=INTEGER}, 
      #{atricleDate,jdbcType=TIMESTAMP}, #{articleContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="blog.entity.Article" >
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="articleTitle != null" >
        article_title,
      </if>
      <if test="articleAuthor != null" >
        article_author,
      </if>
      <if test="atricleDate != null" >
        atricle_date,
      </if>
      <if test="articleContent != null" >
        article_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="articleTitle != null" >
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleAuthor != null" >
        #{articleAuthor,jdbcType=INTEGER},
      </if>
      <if test="atricleDate != null" >
        #{atricleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="articleContent != null" >
        #{articleContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="blog.entity.Article" >
    update article
    <set >
      <if test="articleTitle != null" >
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleAuthor != null" >
        article_author = #{articleAuthor,jdbcType=INTEGER},
      </if>
      <if test="atricleDate != null" >
        atricle_date = #{atricleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="articleContent != null" >
        article_content = #{articleContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="blog.entity.Article" >
    update article
    set article_title = #{articleTitle,jdbcType=VARCHAR},
      article_author = #{articleAuthor,jdbcType=INTEGER},
      atricle_date = #{atricleDate,jdbcType=TIMESTAMP},
      article_content = #{articleContent,jdbcType=LONGVARCHAR}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="blog.entity.Article" >
    update article
    set article_title = #{articleTitle,jdbcType=VARCHAR},
      article_author = #{articleAuthor,jdbcType=INTEGER},
      atricle_date = #{atricleDate,jdbcType=TIMESTAMP}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="ResultMapWithBLOBs">
    select * from article order by atricle_date desc ;
  </select>
</mapper>